* { padding: 0; margin: 0; box-sizing: border-box; }

body {
    height: auto;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: #dfeefb;
    place-items: center;
    font-family: 'Rubik', sans-serif;
}
#root {
    width: 50%;
    height: 100%;
    padding: 2rem 0 4rem 0;
    min-width: 44rem;
}
.card {
    width: 100%;
    display: flex;
    padding: 2rem;
    border-radius: 0.6rem;
    background: white;
    margin: 1.5rem 0;
}
.voteBox {
    height: 6rem;
    background: #dfeefb;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
    justify-content: space-between;
    border-radius: 5px;
    color: hsl(238, 40%, 52%);
}
.voteBox p {
    color: hsl(238, 40%, 52%);
}
.commentBox {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    color: hsl(211, 10%, 45%);
    width: 100%;
}
.avatarBox {
    display: flex;
    justify-content: space-between;
}
.avatarBox > div {
    display: flex;
    align-items: center;
}
.replyBox div {
    display: flex;
    align-items: center;
}
.replyBox > div:first-child {
  margin-right: 1.7rem;
}
.avatar {
    height: 2rem;
}
.userName {
    color: hsl(212, 24%, 26%);
}
.replyBox h4 {
    color: hsl(238, 40%, 52%);
    font-size: clamp(0.5rem, 4.5vw, 1rem);
}
.reply {
    margin-right: 1rem;
}
.comment {
    margin-top: 0.8rem;
}
.comment p {
    line-height: 1.5rem;
    font-size: clamp(0.5rem, 4vw, 1rem);
}
.youTag {
  padding: 5px 7px;
  background: hsl(238, 40%, 52%);
  border-radius: 3px;
  color: white;
  font-size: clamp(0.5rem, 3vw, 0.8rem);
}
.createdAt {
    font-size: clamp(0.5rem, 4vw, 1rem);
}
.comment a {
  text-decoration: none;
  font-weight: bold;
  color: hsl(238, 40%, 52%);
}
.reply-card {
    width: 94%;
    margin-left: auto;
    border-left: 2.5px solid hsl(0deg 0% 69% / 42%);
    padding-left: 2.5rem;
}
form {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
form img {
  height: 3.5rem;
  padding-left: 0.5rem;
}
form textarea {
  margin: 0 1.2rem;
  height: 6rem;
  border-radius: 5px;
  width: -webkit-fill-available;
  border: 1px solid #3dffff;
  padding: 0.8rem 1rem;
  font-family: "Rubik", sans-serif;
  resize: none;
  outline: none;
}
form button {
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  border: none;
  background: hsl(238, 40%, 52%);
  font-weight: bold;
  color: white;
  font-size: 1rem;
}
.hide {
  display: block !important;
}
form > div {
  display: flex;
  align-items: flex-start;
  width: 100%;
  justify-content: space-evenly;
}
.reply2 .replyBox,
form > textarea {
  display: none;
}
.avatarBox > div:first-child {
  justify-content: space-between;
  width: 18rem;
}
.attribution {
  text-align: center;
  background: hsl(233, 12%, 13%);
  border-top: 1px solid hsl(246, 103%, 57%);
}
.attribution a {
  font-size: 0.7rem;
  text-decoration: none;
  color: hsl(39, 89%, 49%);
}
.attribution p {
  font-size: 0.7rem;
  color: hsl(189, 59%, 53%);
}
.attribution {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media only screen and (max-width: 850px) {
  #root {
    min-width: auto;
    width: 88%;
  }
}
@media only screen and (max-width: 800px) {
  #root {
    padding-bottom: 15rem;
  }
  .card {
    flex-direction: column-reverse;
    align-items: center;
  }
  .voteBox {
    flex-direction: row;
    height: 2.5rem;
    width: clamp(3rem, 26vw, 6.5rem);
  }
  .reply-card .voteBox {
    height: 2.1rem;
  }
  .commentBox {
    margin-left: 0;
  }
  #mainInput {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 3rem;
    padding: 0 1rem;
  }
  form img {
    padding-left: 0;
    height: 3.2rem;
  }
  form > textarea {
    margin: 0 0 0.7rem 0;
  }
  .reply-card {
    padding-left: 1.4rem;
  }
  .reply2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 1.5rem;
  }
  .avatarBox .replyBox,
  form > div > textarea {
    display: none;
  }
  .reply2 .replyBox,
  form > textarea {
    display: flex;
  }
  form > div {
    justify-content: space-between;
    align-items: center;
  }
  form {
    flex-direction: column;
    background: aliceblue;
    padding: 1rem;
    border-radius: 10px;
  }

}
@media only screen and (max-width: 450px) {
  .card {
    padding: clamp(0.5rem, 6vw, 1.7rem);
  }
  .replyBox > div:first-child {
    margin-right: 0.8rem;
  }
  .reply {
    margin-right: 0.5rem;
  }
  .reply-card .replyBox > div:first-child {
    margin-right: 0.5rem;
  }
  .reply-card .reply {
    margin-right: 0.5rem;
    height: 12px;
  }
  .reply-card .replyBox h4 {
    font-size: 3.2vw;
  }
  .reply-card .reply2 {
    margin-top: 1rem;
  }
  .reply-card .userName {
    font-size: clamp(0.8rem, 4vw, 1rem);
  }
  .reply-card .createdAt {
    font-size: clamp(0.5rem, 3.2vw, 1rem);
    padding-top: 3px;
  }
  .reply-card .comment p {
    font-size: clamp(0.5rem, 3.5vw, 1rem);
    margin-top: 0;
  }
}
@media only screen and (max-width: 320px) {
  .avatar {
    height: 1.5rem;
  }

}
